<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 菜品 -->
<mapper namespace="FoodMapper">
	<!-- 管理端  查询菜品 -->
	<select id="findFoodManegePageList" resultType="java.util.HashMap" parameterType="java.util.HashMap">
		SELECT
			food.*, 
			type.name as "typeName",
			date_format(food.create_time,'%Y-%c-%d %h:%i:%s') as "createtime",
			date_format(food.update_time,'%Y-%c-%d %h:%i:%s') as "updatetime"
		FROM
			food
		LEFT JOIN type ON food.type = type.code
		GROUP BY
			food.id
	</select>
	<select id="findFood" resultType="java.util.HashMap" parameterType="java.util.HashMap">
		SELECT * from food where 1=1
		<if test="name != null and name != '' ">
			and name=#{name}
		</if>
		<if test="myid != null and myid != '' ">
			and id !=#{myid}
		</if>
	</select>
	<insert id="addFood" parameterType="java.util.HashMap">
		insert into food(id,name,price,pic,dscri,create_time,type)
		values(UUID(),#{name},#{price},#{file_path},#{dscri},NOW(),#{type})
	</insert>
	<insert id="updateFood" parameterType="java.util.HashMap">
		update food set 
		name=#{name},price=#{price},pic=#{file_path},dscri=#{dscri},update_time=#{update_time},
		type=#{type}
		where 
		id = #{food_id}
	</insert>
	<insert id="delFood" parameterType="java.util.HashMap">
		delete from food where id in
		<foreach collection="ids" item="item" index="index" open="(" separator="," close=")">
			#{item}
		</foreach>
	</insert>
	
	
							<!-- front -->
	<select id="findFoodPageList" resultType="java.util.HashMap" parameterType="java.util.HashMap">
		SELECT
			*
		FROM
			food
		LEFT JOIN type ON food.type = type. CODE
		WHERE
			type. NAME = #{type}
	</select>
	
	<insert id="saveOrderFood" parameterType="java.util.HashMap">
		insert into order_food(id,order_id,food_id,num)
		values(UUID(),#{order_id},#{food_id},#{num})
	</insert>
	
	<insert id="saveOrdering" parameterType="java.util.HashMap">
		insert into ordering(id,num,sumprice,user_name,phone,address,remarks,user_id,state,cerate_time)
		values(#{id},#{num},#{sumprice},#{user_name},#{phone},#{address},#{remarks},#{user_id},#{state},NOW())
	</insert>
	
	<select id="frontOrderList" resultType="java.util.HashMap" parameterType="java.util.HashMap">
		select * from (SELECT
			ordering.*,evaluate.content,evaluate.reply,
			GROUP_CONCAT(CONCAT(food.name,'(',order_food.num),')') AS "foods"
		FROM
			ordering
		LEFT JOIN order_food ON ordering.id = order_food.order_id
		LEFT JOIN food ON order_food.food_id = food.id
		LEFT JOIN evaluate ON order_food.order_id = evaluate.order_id
		where 1=1
		<if test="tody != null and tody  != '' ">
			and DATE_FORMAT(NOW(),'%Y%m%d') like DATE_FORMAT(ordering.cerate_time,'%Y%m%d')
		</if>
		GROUP BY
			ordering.id
		) A where A.user_id = #{front_userId}
	</select>
	
	
	<insert id="submitPj" parameterType="java.util.HashMap">
		insert into evaluate(id,order_id,user_id,content,create_time) VALUES(UUID(),#{pj_ddh_id},#{user_id},#{pj_pj},NOW())
	</insert>
</mapper>